@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
h1, h2, h3, h4, h5 {
  font-family: "Roboto",sans-serif;
}
a{
  text-decoration: none;
}
p{
  color: #000;
  color: #9a9dc3;
}
@font-face {
  font-family: 'Road';
  src: url('./font/Road_Rage.otf');
}

nav{
    background: #ffffff;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
    /* border-bottom: 1px solid; */
  }
  .logo {
    margin-top: -17px;
}
.logo img{
  width: 26%;
}
.freetrail_btn {
  width: 125px;
}
.freetrail_btn a{
  
}
nav .warper{
  position: relative;
  max-width: 1250px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.warper .logo a{
  text-decoration: none;
color:#3a3b3c;
font-size: 27px;
font-weight: 600;
}
.warper .nav_links{
  display:inline-flex;
}
.nav_links li{
  list-style: none;
    padding: 0 20px;
}
.nav_links li a{
    text-decoration: none;
    color: #242526;
    font-size: 15px;
    font-weight: 600;
    padding: 9px 1px;
    transition: all 0.3s ease;
}
.nav_links li a:hover{
  color: #01ac4f;
}
.nav_links .dropdown_menu{
  position: absolute;
    width: auto;
    top: 85px;
    line-height: 45px;
    background: #242526;
    opacity: 0;
    visibility: hidden;
    padding: 0 17px 0px 0px;
}
.nav_links li:hover .dropdown_menu,
.nav_links li:hover .mega_box{
  opacity: 1;
  visibility: visible;
  top: 65px;
  transition: all 0.3s ease;
}
.dropdown_menu li{
  display: block;
}
ul.mega_link {
  padding: 0;
}
.mega_box ul li{

}
.mega_box ul li a{

}
.mega_box ul{
  padding: 0;
}
.dropdown_menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
}
.mega_box{
  position: absolute;
  top: 85px;
  width: 292px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 26px #f1f3f5;
}
.contant .row{
  width: calc(28% - 30px);
    line-height: 45px;
}
.mega_box .contant{
  background: #FFF;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 0px 13px #ddd;
}
.contant .row .mega_link{
  border-left: 1px solid rgba(255,255,255,0.09);
  padding: 0;
}
.row .mega_link li{
  padding: 0 0px;
}
.row .mega_link li a{
  display: block;
    padding: 0px 10px;
    color: rgb(242, 242, 242);
    font-size: 14px;
    /* border-bottom: 1px solid rgb(96, 98, 113); */
    transition: all 1s ease 0s;
} 
i.fa.fa-file-image-o.service-icon {
  margin-right: 8px;
}
.row .mega_link li a:hover{
  color: #f2f2f2;
    background: #2c48ab;
     border-bottom: 1px solid rgb(96, 98, 113);
}
li.desktop_aroo {
  width: 115px;
    position: relative;
}
.nav_links .mobile_item{
  display: none;
}
input#showdropdown {
  display: none;
}
.warper .btn{
  color: #000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.warper .btn.cancel_btn{
  position: absolute;
  right: 8px;
  cursor: context-menu;
  top: 20px;
}
.none{
  display: none;
}
input#showmega {
  display: none;
}
.drp_category{
  display: none;
}
li.freetrail_btn {
  display: block;
}
.mobile_qute{
  display: none;
}
.mobile_freetrail{
  display: none;
}
/*-------
----------
-----------
responsive
-----------
----------
---------
  */
  @media screen and (max-width:1200px){
    .logo img {
      width: 125%;
  }
  .row .mega_link li a {
    display: block;
    padding: 0 20px;
    color: #f2f2f2;
    font-size: 11px;
    border-bottom: 1px solid #606271;
    transition: 1s;
}
  }
@media screen and (max-width:970px) {
  .warper .btn{
    display: block;
  }
  .drp_category{
    display: block;
    position: absolute;
    top: 26px;
    left: 68px;
    color: #66707b;
  }
  .logo img {
    width: 36%;
    margin-top: 30px;
}
  .warper .nav_links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background: #fff;
    display: block;
    top: 0;
    left: -100%;
    overflow-y: auto;
    line-height: 50px;
    padding: 50px 10px;
    transition: all 0.3s ease;
  }
  #menu_btn:checked ~ .nav_links{
    left: 0;
  }
  .nav_links::-webkit-scrollbar{
    width: 0px;
  }
 .nav_links li{
  margin: 0;
  width: 100%;
  }
  li.freetrail_btn {
    float: left;
    display: inline-flex;
    margin-bottom: 7px;
}
  .nav_links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav_links .dropdown_menu{
    position: static;
    opacity: 1;
    visibility: visible;
    top: 60px;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  #showdropdown:checked ~ .dropdown_menu,
  #showmega:checked ~ .mega_box{
    max-height: 100%;
  }
  .nav_links .dropdown_menu li{
    margin: 0;
  }
  .nav_links .dropdown_menu li a{
    font-size: 18px;
  }
  .nav_links .desktop_item{
    display: none;
  }
  .nav_links .mobile_item{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    width: 100%;
  }
  .nav_links .mobile_item:hover{
    background: transparent;
    color: #01ac4f;
  }
  .row .mega_link li a {
    display: block;
    padding: 15px 20px;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #606271;
    transition: 1s;
}
.row .mega_link li a:hover {
  color: #000;
  background: #ffffff;
}
  .mega_box{
    position: static;
    top: 65px;
    width: 95%;
    padding: 0 0px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    border-left: 3px solid #00adff;
    margin: auto;
  }
  .mega_box .contant{
    background: #fff;
    flex-direction: column;
    padding: 0;
  }
  .mega_box .contant .row{
    width: 100%;
    margin-bottom: 15px;
  }
  i.fa.fa-file-image-o.service-icon {
    font-size: 33px;
    margin: 10px 19px 0 0px;
}
.row .mega_link li {
  padding: 0 0px;
  margin: 0 52px;
  position: relative;
}
span.mobile_text {
  position: absolute;
    top: 7px;
}
li.freetrail_btn {
  display: none;
}
.mobile_qute{
  display: block;
    padding: 11px 21px;
    background: #f0fafd;
    overflow: hidden;
    position: relative;
}
.mobile_tril {
  float: left;
  width: 50%;
  padding: 0 11px;
}
.mobile_tril a{
  text-decoration: none;
}
.mobile_freetrail{
  display: block;
}
span.queation_category {
  display: block;
  line-height: 0;
  padding-top: 29px;
  color: #555b61;
}
}
/* end nav */
.hero_section{
  background-image: url(background.png);
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
}
.info {
  margin-top: 159px;
}
.info h1 {
  font-size: 50px;
    margin: 15px 0;
    font-family: 'Road';
}
.info h1 span{
  background: linear-gradient( 
      90deg,#1345e6 0%,#ed239f 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: road;
          padding-left: 15px;
}
.info h6{
  font-weight: 400;
}
.info h4{
  font-weight: 400;
}

.social_ic {
    margin-top: 35px;
}
.social_ic a{
  margin-left: 12px;
    font-size: 22px;
    color: #c0c7d8;
}
.social_ic a:hover{
  background: linear-gradient( 
      90deg,#1345e6 0%,#ed239f 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
}
.BXBTN {
  margin-top: 60px;
    position: relative;
    display: block;
    overflow: hidden;
}
.XBTN {
  display: inline-block;
  background: linear-gradient(to right,#1345e6 0%,#ed239f 51%,#1345e6 100%);
  color: #fff;
  letter-spacing: 0;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  padding: 0 38px;
  outline: none!important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
  text-decoration: none;
  transition: .4s;
  font-family: 'Road';
}
.XBTN:hover{
  background-position: right center;
    color: #fff;
}
.RVBX {
  margin-top: 76px;
}
.VBX {
  padding: 32px 15px;
    text-align: center;
    background: #f9f9f9;
    border-radius: 0px 30px 0px 30px;
    transition: .3s;
}
.VBX:hover{
  box-shadow: 0px 0px 12px #e5e7ec;
}
.VBX h1{
  background: linear-gradient( 
90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
          font-size: 25px;
          font-weight: bold;
    }
.VBX p{
  font-size: 14px;
  line-height: 4px;
  color: #665b6b;
  font-family: 'Road';
}
.SV_PJ {
  margin-top: 150px;
}
.SV_PJ h1{
  font-family: 'Road';
}
.SV_PJ h1 span{
  background: linear-gradient( 
90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: road;
    padding-left: 15px;
}
.SLPB{
  padding: 20px;
    background: rgb(249, 249, 249);
    border-radius: 0px 30px;
    transition: all 0.3s ease 0s;
    border: 4px solid #f9f9f9;
    margin-bottom: 20px;
    transition: 1s;
}
.SLPB:hover{
  border: 4px solid #882bc5;
    box-shadow: 0px 0px 16px #c5b4d0;
}
.SLPB h2{
  font-size: 15px;
  font-family: 'Road';
} 
.SLPB p{
  font-size: 10px;
}
.WSLS_TX{
  padding: 80px 0;
}
.WSLS_TX h1{
  font-size: 24px;
    font-family: 'Road';
    background: linear-gradient( 
90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 4px;
    margin-bottom: 25px;
}
.WSLS_TX h1 span{
  background: linear-gradient( 
    90deg,#383a40 0%,#981967 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 35px;
        line-height: 50px;
}
.WSLS_TX h2{
  /* font-size: 35px;
    font-family: 'Road';
    background: linear-gradient( 
90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 8px;
    margin-bottom: 25px; */
    color: #47474a;
}
.WSLS_TX h6{
  font-weight: bold;
    color: #b0b1c3;
    margin-bottom: 28px;
}
.SBIT {
  box-shadow: 0 10px 5px rgb(59 177 236 / 15%);
    line-height: 26px;
    padding: 30px;
    border-radius: 8px 8px 8px 40px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    background: #f3f5ff;
    border-bottom: 4px solid #b0bdff;
}
.SBIT i{
  font-size: 45px;
    line-height: 35px;
    margin-bottom: 20px;
    background: linear-gradient( 
90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 7px;
}
.SBIT h3{
  background: linear-gradient( 
    90deg,#1345e6 0%,#ed239f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
}
.SBIT h6{
  font-weight: bold;
  color: #b0b1c3;
  margin-bottom: 12px;
  font-size: 19px;
}
.SBIT.DRGKD {
  background: #fbfff1;
  border-bottom: 4px solid #ffdaa2;
}
.SBIT.DRGKJ {
  background: #fbeefd;
  border-bottom: 4px solid #f6bcff;
}
.SBIT.DRGKN {
  background: #effdff;
  border-bottom: 4px solid #9ff3ff;
}
.SBIT.DRGKS {
  background: #fff3e6;
  border-bottom: 4px solid #ffc093;
}
.SBIT.DRGKFA {
  background: #0fe08924;
  border-bottom: 4px solid #41bf89;
}
.ST_CNT{

}
.ST_CNT h1{
  background: linear-gradient( 
90deg,#383a40 0%,#981967 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    line-height: 50px;
    font-family: 'Road';
    padding: 0 4px;
}
.ST_CNT h3{
  
}
.ST_CNT p{
  
}
.IBSTU {
  width: 100%;
  /* background: #000; */
  height: 500px;
  display: block;
  text-align: center;
}
.IBTWO {
  width: 80%;
  height: 80%;
  position: relative;
  justify-content: center;
  background: #ddd;
  border-radius: 50%;
}












